<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiffinCart"
        tools:targetApi="31">
        <activity
            android:name=".Screen.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.AllTiffinsActivity"
            android:exported="false" />
        <activity
            android:name=".Model.CartItem"
            android:exported="false" />
        <activity
            android:name=".Screen.CartViewModel"
            android:exported="false" />
        <activity
            android:name=".Screen.TiffinDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.CustomerProfile"
            android:exported="false" />
        <activity
            android:name=".ChefPackage.ChefDashboard"
            android:exported="false" />
        <activity
            android:name=".Fragment.PostDishFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Model.ChefItem"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ChefPackage.ChefProfile"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ChefPackage.ChefOrders"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ChefPackage.ChefPendingOrders"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ChefPackage.ChefHomePage"
            android:exported="false" />
        <activity
            android:name=".Fragment.ChefHomeFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Screen.ChefPhoneVerify"
            android:exported="false" />
        <activity
            android:name=".Screen.ChefLogin"
            android:exported="false" />
        <activity
            android:name=".Screen.ConsultantRegistration"
            android:exported="false" />
        <activity
            android:name=".Screen.ChefRegistration"
            android:exported="false" />
        <activity
            android:name=".Screen.ChooseOne"
            android:exported="false" />
        <activity
            android:name=".Screen.MealBrowsingActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.ConsultantFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Screen.IntroductoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screen.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.MainActivity"
            android:exported="false" />
    </application>

</manifest>